<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dstrube.admobtest">

    <!-- required by ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- required by ads -->
    <!-- if we want to check for connectivity before grabbing ads:
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
-->
    <!-- to get the device id -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        com.google.android.gms.ads.AdActivity
        or
        com.google.ads.AdActivity
        ->

        https://developers.google.com/admob/android/quick-start
        -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>